img{
    height: 200px;
    width: 200px;
}
h1{
    color: blueviolet;
    text-align: center;
}
h2[class="spanish"]{
    color: brown;
    text-align: center;
}
.color-title{
    font-weight: normal;
    text-align: center;
}
body{
    background-color: black;
    text-align: center;
}
#pink{
    color: pink;
    text-align: center;
}
#red{
    color: red;
    text-align: center;
}
#blue{
    color: blue;
    text-align: center;
}
#orange{
    color: orange;
    text-align: center;
}
#green{
    color: green;
    text-align: center;
}
#yellow{
    color: yellow;
    text-align: center;
}
